<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head th:insert="fragments :: head">

  <title>Register new user</title>
</head>
<body>

<!--<nav th:replace="fragments :: navbar"></nav>-->

<h1 th:text="#{welcome}"></h1>

<div class="registration">
  <form th:action="@{/accounts/registration}" th:object="${accountToRegister}" method="post">

    <div class="inputField">
      <label for="firstName" th:text="#{first.name}"></label>
      <input type="text" name="firstName" id="firstName" >
<!--
      <span th:if="${#fields.hasErrors('firstName')}" th:errorclass="error" th:errors="*{firstName}"></span>
-->
    </div>

    <div class="inputField">
      <label for="lastName" th:text="#{last.name}"></label>
      <input type="text" name="lastName" id="lastName" ><!--th:field="*{lastName}"-->
<!--      <span th:if="${#fields.hasErrors('lastName')}" th:errorclass="error" th:errors="*{lastName}"></span>-->
    </div>

    <div class="inputField">
      <label for="email" th:text="#{email}"></label>
      <input type="email" name="email" id="email" ><!--th:field="*{email}">-->
<!--      <span th:if="${#fields.hasErrors('email')}" th:errorclass="error" th:errors="*{email}"></span>-->
    </div>

    <div class="inputField">
      <label for="password" th:text="#{password}"></label>
      <input type="password" name="password" id="password" ><!--th:field="*{password}"-->
     <!-- <span th:if="${#fields.hasErrors('password')}" th:errorclass="error" th:errors="*{password}"></span>-->
    </div>

    <div class="action">
      <a href="#" class="link" th:text="#{forgot.password}"></a>
      <button type="submit" th:text="#{to.register}"></button>
    </div>

  </form>
</div>

</body>
</html>