<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
  <meta charset="utf-8" />
  <title>Register new user</title>
</head>/
<body>
<h1>Registration</h1>

<div class="registration">
  <form th:action="@{/accounts/registration}" >
    <div>
      <label for="firstName"></label>
      <input type="text" name="firstName" id="firstName" >
<!--
      <span th:if="${#fields.hasErrors('firstName')}" th:errorclass="error" th:errors="*{firstName}"></span>
-->
    </div>

    <div class="inputField">
      <label for="lastName" th:text="#{last.name}"></label>
      <input type="text" name="lastName" id="lastName" ><!--th:field="*{lastName}"-->
<!--      <span th:if="${#fields.hasErrors('lastName')}" th:errorclass="error" th:errors="*{lastName}"></span>-->
    </div>

    <div class="inputField">
      <label for="email" th:text="#{email}"></label>
      <input type="email" name="email" id="email" ><!--th:field="*{email}">-->
<!--      <span th:if="${#fields.hasErrors('email')}" th:errorclass="error" th:errors="*{email}"></span>-->
    </div>

    <div class="inputField">
      <label for="password" th:text="#{password}"></label>
      <input type="password" name="password" id="password" ><!--th:field="*{password}"-->
     <!-- <span th:if="${#fields.hasErrors('password')}" th:errorclass="error" th:errors="*{password}"></span>-->
    </div>

    <div class="action">
      <a href="#" class="link" th:text="#{forgot.password}"></a>
      <button type="submit" th:text="#{to.register}"></button>
    </div>

  </form>
</div>

</body>
</html>